%nav.navbar.navbar-dark.sticky-top.bg-dark.navbar-expand-lg.shadow
  .container-fluid
    %a.navbar-brand.stretch-link( href='#' )
      %img.ratio.ratio-1x1( src='/assets/logo.png' )
      SDP2
    .navbar-collapse.collapse
      %ul.navbar-nav
        %li.nav-item
          %a.nav-link( href='/consumer' class=@consumer_class ) Consumidor
        %li.nav-item
          %a.nav-link( href='/producer' class=@producer_class ) Productor
