/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, html {
    margin: 0;
}

body {
    height: 93.8vh;
}

div.row {
    padding: .5em 0 .5em 0;
}

div.container-fluid {
    height: 100%;
}

div.row.main {
    height: 100%;
    background: #eeeeee;
}

div.content {
    padding: 1.5em;
    /*border-right-style: solid;
    border-width: .025em;
    border-color: lightgray;
    box-shadow: .05em .05em #dddddd */;
}

.panel {
    /* box-shadow: 0 0 2.5em rgba(0 0 0 / 0.4) */
    margin: auto!important;
    min-width: 55%;
}

.vr {
    margin-left: 24px;
}

.submit-group button[type="submit"] {
    min-height: 2.5em;
}

h5.text-muted {
    font-weight: 900;
    color: rgba(0 0 0 / 0.45);
}

a.navbar-brand img {
    padding-bottom: 0.2em;
    max-width: 30px;
}

.profiler-result {
    display: none;
}

.card-body h3 {
    text-align: center;
}
