.card.panel.shadow(data-controller='consumer')
    .card-body
        %h3.mx-1.mb-4.mt-2 Panel de consumidor
        = form_with data: { action: 'consumer#greet' } do |form|
            .form-floating.mb-3.mt-5
                = form.number_field :products_a, :class => 'form-control', :id => 'productAquantity', :placeholder => 'Numero de productos', :required => true, :value => params[:products_a]
                %label( for='productAquantity' ) Cantidad Productos A
            .form-floating.mb-5
                = form.number_field :products_b, :class => 'form-control', :id => 'productBquantity', :placeholder => 'Numero de productos', :required => true, :value => params[:products_b]
                %label( for='productBquantity' ) Cantidad Productos B
            .submit-group.vstack.gap-2.mx-auto
                %button.btn.btn-primary( type='submit' ) Consumir
