.card.panel.shadow
    .card-body
        %h3.mx-1.mb-4.mt-2 Panel de productor
        %form.consumer-form.needs-validation
        = form_with url: '/producer', method: :get do |form|
            .submit-group.vstack.gap-2.mx-auto
                %button.btn.btn-success( type='button' ) Replicar
                %button.btn.btn-secondary( type='button' ) Restaurar
                %button.btn.btn-primary( type='button' ) Producir
